.btnStyle {
    height: 40px;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background: #140F2A;
    color: #FFF;
    transition: 0.2s;
    min-width: 100px;
  }
  
  .btnStyle:hover {
    box-shadow: -4px -4px 0px 0px #00F0FF, 4px 4px 0px 0px #FF00B8;
    background: #241b4b;
    cursor: pointer;
  }